.cuadro{
    height:600px;
    width:800px;
    position:absolute;
    top:100px;
    right:500px;
    background: linear-gradient(rgb(239, 154, 154, 0.8), rgb(245, 210, 180, 0.8));
     border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 50px
  }