/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./assets/RT.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.cuadro {
  height: auto;
  width: auto;
  position: absolute;
  bottom: 500px;
  right: 750px;
  background: linear-gradient(rgb(239, 154, 154, 0.8), rgb(245, 210, 180, 0.8));
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 20px
}